<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Projeto de formatura do curso de ciencias da computacao, do Centro Universitario da FEI, sob orientacao do Prof. Dr. Plinio T. Aquino Jr.
Integrantes:
Andrey Masiero
Fagner Donadon
Guilherme Wachs
Matheus Gonçalves
Tom Mix Petreca</description>
    <display-name>SiGePAPP - Sistema de Gerenciamento de Patterns, Anti-Patterns e Personas</display-name>
    <servlet>
        <description>Servlet responsavel pelo login do usuario no sistema. Este servlet ira setar variaveis de
 Sessao para serem utilizadadas na aplicacao.</description>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAtribDeEstrutServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.GetAtribDeEstrutServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Busca as cidades no a partir do estado escolhido</description>
        <servlet-name>GetCidadeServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.GetCidadeServlet</servlet-class>
    </servlet>
    <servlet><description>Servlet para o cadastro do usuario.</description>
        <servlet-name>CadUsuarioServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadUsuarioServlet</servlet-class>
        </servlet>
    <servlet>
        <servlet-name>GetTiposServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.GetTiposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadTipoServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadTipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadAtributoServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadAtributoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadEstruturaServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadEstruturaServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>GetEstruturasServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.GetEstruturasServlet</servlet-class></servlet><servlet><servlet-name>CadPerguntaServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.CadPerguntaServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>GetPerguntaServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.GetPerguntaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>writeSessionServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.writeSessionServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>CadRespostaServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.CadRespostaServlet</servlet-class></servlet><servlet><servlet-name>GetRespostaServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.GetRespostaServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>CadRelacPergRespServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadRelacPergRespServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readSessionServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.readSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExisteEstruturaServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.ExisteEstruturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExisteAtributoServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.ExisteAtributoServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>ExisteTipoServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.ExisteTipoServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>BuscaEstrutCadAPPPServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.BuscaEstrutCadAPPPServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>CadPatternServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.CadPatternServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>CadQuestPreench</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadQuestPreench</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestPreench</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.bancodedados.model.QuestPreench</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuestPreench</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.GetQuestPreench</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadQuestPreenchServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadQuestPreenchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAPPPServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.GetApppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadAPPPServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadAPPPServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>GetRelacPergRespServlet</servlet-name><servlet-class>br.edu.fei.sigepapp.servlet.GetRelacPergRespServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>BuscaSimilaridadeServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.BuscaSimilaridadeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadPersonaServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadPersonaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadAntiPatternServlet</servlet-name>
        <servlet-class>br.edu.fei.sigepapp.servlet.CadAntiPatternServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    	<description>Servlet responsavel por verificar se existe o login desejado pelo usuario</description>
    	<servlet-name>ExisteLoginServlet</servlet-name>
    	<servlet-class>br.edu.fei.sigepapp.servlet.ExisteLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ExisteLoginServlet</servlet-name>
    	<url-pattern>/ExisteLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>GetAtribDeEstrutServlet</servlet-name><url-pattern>/GetAtribDeEstrutServlet</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCidadeServlet</servlet-name>
        <url-pattern>/GetCidadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadUsuarioServlet</servlet-name>
        <url-pattern>/CadUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTiposServlet</servlet-name>
        <url-pattern>/GetTiposServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadTipoServlet</servlet-name>
        <url-pattern>/CadTipoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadAtributoServlet</servlet-name>
        <url-pattern>/CadAtributoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadEstruturaServlet</servlet-name>
        <url-pattern>/CadEstruturaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEstruturasServlet</servlet-name>
        <url-pattern>/GetEstruturasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadPerguntaServlet</servlet-name>
        <url-pattern>/CadPerguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPerguntaServlet</servlet-name>
        <url-pattern>/GetPerguntaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>writeSessionServlet</servlet-name>
        <url-pattern>/writeSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadRespostaServlet</servlet-name>
        <url-pattern>/CadRespostaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRespostaServlet</servlet-name>
        <url-pattern>/GetRespostaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadRelacPergRespServlet</servlet-name>
        <url-pattern>/CadRelacPergRespServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readSessionServlet</servlet-name>
        <url-pattern>/readSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExisteEstruturaServlet</servlet-name>
        <url-pattern>/ExisteEstruturaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExisteAtributoServlet</servlet-name>
        <url-pattern>/ExisteAtributoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExisteTipoServlet</servlet-name>
        <url-pattern>/ExisteTipoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaEstrutCadAPPPServlet</servlet-name>
        <url-pattern>/BuscaEstrutCadAPPPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>CadPatternServlet</servlet-name><url-pattern>/CadPatternServlet</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadQuestPreench</servlet-name>
        <url-pattern>/CadQuestPreench</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestPreench</servlet-name>
        <url-pattern>/QuestPreench</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuestPreench</servlet-name>
        <url-pattern>/GetQuestPreench</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadQuestPreenchServlet</servlet-name>
        <url-pattern>/CadQuestPreenchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAPPPServlet</servlet-name>
        <url-pattern>/GetDadosAPPP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadAPPPServlet</servlet-name>
        <url-pattern>/CadAPPPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRelacPergRespServlet</servlet-name>
        <url-pattern>/GetRelacPergRespServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaSimilaridadeServlet</servlet-name>
        <url-pattern>/BuscaSimilaridadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadPersonaServlet</servlet-name>
        <url-pattern>/CadPersonaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadAntiPatternServlet</servlet-name>
        <url-pattern>/CadAntiPatternServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list></web-app>
